<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  	<title>angular</title>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   </head>
<body ng-app="angular" onload="initClock()">
  <div class="sidebar">
    <div class="logo-details">
     
        <div class="logo_name">Online ATM</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    
      <li>
       <a href="#user">
         <i class='bx bx-user' ></i>
         <span class="links_name">User</span>
       </a>
       <span class="tooltip">User</span>
     </li>

     <li>

       <a href="#balance">
           <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Balance</span>
       </a>
        <span class="tooltip">Balance</span>

     </li>
     <li>
       <a href="#deposit">
        <i class='bx bx-chat' ></i>
         <span class="links_name">Deposit</span>
       </a>
        <span class="tooltip">Deposit</span>

     </li>
     <li>
       <a href="#withraw">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Withdraw</span>
       </a>
        <span class="tooltip">Withdraw</span>
     </li>
 
  </div>
<a name="balance"></a>

  <section class="home-section">
  <div class="datetime">
      <div class="date">
        <span id="dayname">Day</span>,
        <span id="month">Month</span>
        <span id="daynum">00</span>,
        <span id="year">Year</span>
      </div>
      <div class="time">
        <span id="hour">00</span>:
        <span id="minutes">00</span>:
        <span id="seconds">00</span>
        <span id="period">AM</span>
      </div>
    </div>
    <!--digital clock end-->

    <script type="text/javascript">
    function updateClock(){
      var now = new Date();
      var dname = now.getDay(),
          mo = now.getMonth(),
          dnum = now.getDate(),
          yr = now.getFullYear(),
          hou = now.getHours(),
          min = now.getMinutes(),
          sec = now.getSeconds(),
          pe = "AM";

          if(hou >= 12){
            pe = "PM";
          }
          if(hou == 0){
            hou = 12;
          }
          if(hou > 12){
            hou = hou - 12;
          }

          Number.prototype.pad = function(digits){
            for(var n = this.toString(); n.length < digits; n = 0 + n);
            return n;
          }

          var months = ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "October", "November", "December"];
          var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
          var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
          var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
          for(var i = 0; i < ids.length; i++)
          document.getElementById(ids[i]).firstChild.nodeValue = values[i];
    }

    function initClock(){
      updateClock();
      window.setInterval("updateClock()", 1);
    }
    </script>


      <div class="text">Fall in love with BIG savings - get up to 6% p.a
	
      <div class="text">Take your banking relationship to a whole new level. Get access to innovative products with interest rates that will leave you rockin' and rollin'! Saving for your dreams in the #NeoNormal has never been this easy. Satisfaction guaranteed!
      </div>

<div>
	<div ng-controller = "getadd" ng-init="num1=20000" class="text">
		<div class="bg">
		<h3> Account Money: Php.20,000.00 </h3>
</div>
<br><br><br><br>
		<div>We don’t expect a big deposit, but small deposits add up.
		</div>

<hr><hr>
<a name="deposit"></a>
		<p>Deposit your money here </p>
	Enter how much: <input type = "text" ng-model="num2">
	<input type="button" ng-model="add" ng-click="add(num1,num2)"  value="Current amount:">
	<br>
	{{ txtsum }} {{ sum }} 
<br>
<h4 style="text-align: center;">Balance Entered : 
		<input ng-model="num2" > 
		</h4>
		
</div>


<br><br><br><br>

<br>

</div>
	<div ng-controller = "getdif" ng-init="num1=20000" class="text">

<br><br>
<div>Achieving your financial potential</div>
<hr><hr><a name="withraw"></a>
		<p>Withdraw your money here </p>
	Enter how much: <input type = "text" ng-model="num2">
	<input type="button" ng-model="minus" ng-click="minus(num1,num2)"  value="Current amount:">
	<br>
	{{ difference }} {{ dif }}
	<br>

<h4 style="text-align: center;">Balance Entered : 
		<input ng-model="num2" > 
		</h4>
	</div>


  


  </section>
  <script>

  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
  	<script src ="js/app.js"></script>
	<script src = "js/MainController/MainController.js"></script>
</body>
</html>
